{% extends 'channel_base.html' %}


{% block content %}

<!-- <h1 class="title">{% block title %} Import Sources {% endblock %}</h1> -->

<br>

<button onclick="redirect_to_upload()">
    upload client secret
</button>

<script>
    function redirect_to_upload(){
        window.location.href = " {{ url_for('youtube_auth.set_client_secret') }} "
    }
</script>

<form method="POST" action="{{ url_for('.import_channel', source='youtube') }}">

    <input type="submit" value="Import YouTube" style="background-color: greenyellow;"
        onclick="return confirm('Are you sure you want to import channels from youtube?')">
</form>


{% endblock %}