{% extends 'channel_base.html' %}

{% block content %}
<h1 style="width: 100%">{% block title %} Add a New Channel {% endblock %}</h1>
<form method="post">
    <p>
        <label for="name">Channel Name</label>
        <input type="text" name="name" placeholder="(optinal)">
        </input>
    </p>

    <p>
        <label for="yt_id">Channel Link</label>
        <input type="text" name="yt_id" placeholder="YouTube Channel Link">
    </p>

    <label for="tags">Choose Tags:</label>
    <select name="tags" id="tags" multiple>
        {% for tag in tags %}
    
        <option value="{{ tag.name }}">{{ tag.name }}</option>
    
        {% endfor %}
    </select>


    <p>
        <button type="submit">Submit</button>
    </p>
</form>
<div style="color: white;">
    A Channel Link can look like this: <br>
    <br>
    - watch?v=VIDEO_ID (can have more URL parameters)<br>
    - channel/CHANNEL_ID<br>
    - CHANNEL_ID (MUST start with 'UC' otherwise assumed to be handle)<br>
    - @CHANNEL_HANDLE (the '@' is recommended but not needed)<br>
    <br>
    All of those can be preceded by <br>
    "youtube.com/" or <br>
    "youtu.be"<br>
</div>

{% endblock %}