{% extends 'channel_base.html' %}

{% block content %}

<link type="text/css" rel="stylesheet" href="/style/chanel_index_v2.css">
<link type="text/css" rel="stylesheet" href="/style/dropdown_menu.css">
<style>
    /* Some basic styling for the navbar */
    .navbar {
        background-color: #333;
        overflow: hidden;
    }
    
    .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    .navbar a:hover {
        background-color: #ddd;
        color: black;
    }
</style>

<h1 class="title" data-autoset-text-color="true">{% block title %} Channels V3 {% endblock %}</h1>


<div class="dropdown">
    <button class="dropbtn">Filter</button>
    <div class="dropdown-content">

        <div data-autoset-text-color="true" onclick="set_tagID_filtered(-1)" style="background-color: #ffffff">All</div>
        <div data-autoset-text-color="true" onclick="set_tagID_filtered(-2)" style="background-color: #353535">Untagged
        </div>

        {% for tag in tags %}

        <div data-autoset-text-color="true" onclick="set_tagID_filtered({{ tag.id }})"
            style="background-color:{{ tag.color }}">{{ tag.name }}</div>

        {% endfor %}
    </div>
</div>

<button onclick="send_all_tags_form()" style="cursor: pointer;">
    Save All
</button>

<div class="navbar">
    <a href="#" onclick="sortData('name')">Sort by Name</a>
    <a href="#" onclick="sortData('id')">Sort by ID</a>
    <a href="#" onclick="invertDirection()">Invert Direction</a>
</div>

<template id="channel_template">

        <div id="channel_div" class="channel-list-entry" style="outline: 5px solid #ffffff; "
            data-tagid="">

            <p>
                <b id="channel_id">#channel.id</b>
                <b class="name">
                    <a id="channel_name" href="channel_link" target="_blank" rel="noopener noreferrer">
                        &ensp; channel name
                    </a>
                </b>


                <a id="channel_edit_link" href="">Edit</a>

            </p>


            <div class="profile-picture-box">
                <img id="channel_image_link" src="" alt="profile img">
                <button id="refresh_pfp" style="border: none; cursor: pointer;">
                    <i class="fas fa-sync-alt"></i>
                </button>
            </div>


            <form id="tag_edit_form_id" class="tag-list" method="POST"
                action="set_this">
                <!-- <form method="POST" action="http://localhost:5000/channels/3/editv2/"> -->

                <label for="tags">Choose a Tags:</label>
                <select id="tag_edit_list" class="tag-list" name="tags" multiple onchange="register_tag_change('id')">
                    <template id="tag_edit_option_template">
                        <option id="tag_edit_option" data-autoset-text-color='true' style="background-color: #ffffff;"
                            value="tag.name" selected>
                            tag_name
                        </option>
                    </template>
                </select>

                <input id="tag_edit_submit_btn" value="Save" style="background-color: greenyellow; cursor: pointer;"
                    onclick="send_tags_form('channel.id')">
                <!-- onclick="set_Filter_Parameter_on_form_action('edit_form_channel.id')"> -->
                <!-- onclick="return confirm('Are you sure you want to save this entry?')"> -->

            </form>

            <hr>
            <form id="channel_delete_form" method="POST" action="url_for('.delete', channel_id=channel.id) ">
                <input id="channel_delete_btn" type="submit" value="Delete channel" style="width: fit-content; background-color: red;"
                    onclick="return confirm('Are you sure you want to delete this entry?')">
            </form>
        </div>
</template>


<div class="channel-list-div">
    <ul  id="channel_list" class="channel-list">
    </ul>
</div>


<button style="width: 80%; height: 50px;" onclick="get_more_channels()">
    load more
</button>


<script src="/scripts/filter_tag.js"></script>

<script src="/scripts/edit_tags.js"></script>

<script src="/scripts/load_channels.js"></script>


<script>
    // Function to set sort field and reload page
    function sortData(field) {
        // Set sort_field parameter in the URL
        var url = new URL(window.location.href);
        url.searchParams.set('sort_field', field);
        window.location.href = url.toString();
    }

    // Function to invert sorting direction
    function invertDirection() {
        // Get current value of sort_asc parameter from URL
        var url = new URL(window.location.href);
        var sortAsc = url.searchParams.get('sort_asc');
        
        // Toggle sort_asc between true and false
        sortAsc = sortAsc === 'true' ? 'false' : 'true';

        // Set sort_asc parameter in the URL
        url.searchParams.set('sort_asc', sortAsc);
        window.location.href = url.toString();
    }
</script>

{% endblock %}