{% extends 'channel_base.html' %}

{% block content %}
<h1 style="width: 100%">
    {% block title %} Edit {{ channel.name }}'s Details
    {% endblock %}
</h1>
<form method="post">
    <p>
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="(optinal)" value="{{ channel.name }}" >
        </input>
    </p>

    <p>
        <label for="yt_id">Channel ID</label>
        <input type="text" name="yt_id" value="{{ channel.yt_id }}">
        
    </p>

    <label for="tags">Choose a Tags:</label>
    <select name="tags" id="tags" multiple>
        {% for tag in tags %}
    
        <option value="{{ tag.name }}"
        {% if tag in channel.tags %} selected {% endif %}>{{ tag.name }}</option>
    
        {% endfor %}
    </select>

    <!-- <label for="old_tags">OLD Tags:</label>
    <select name="old_tags" id="old_tags" multiple>
        {% for channel_tag in channel_tags %}
    
        <option value="{{ channel_tag.name }} selected>{{ channel_tag.name }}</option>
    
        {% endfor %}
    </select> -->

    <p>
        <button type="submit">Submit</button>
    </p>
</form>
{% endblock %}