
# Project exludes
.vscode/
*.db
flask_session/
# music_feed/_data/private/client_secret_youtube.json
*/_data/private/*
data/config.json
client_secret_youtube.json


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
data_dev/errors.json
data_dev/uploads/Abroad in Japan.json
data_dev/uploads/Adam Savage’s Tested.json
data_dev/uploads/Andreas Spiess.json
data_dev/uploads/Ari Abdul.json
data_dev/uploads/BeamNG.json
data_dev/uploads/BLUME.json
data_dev/uploads/BPS.space.json
data_dev/uploads/Breaking Taps.json
data_dev/uploads/Carl Bugeja.json
data_dev/uploads/Chill Nation.json
data_dev/uploads/Chino.json
data_dev/uploads/Christopher Helmke.json
data_dev/uploads/Cleetus McFarland.json
data_dev/uploads/Cleetus2 McFarland.json
data_dev/uploads/CNC Kitchen.json
data_dev/uploads/Code Bullet.json
data_dev/uploads/colinfurze.json
data_dev/uploads/CrackerMilk.json
data_dev/uploads/Drae.json
data_dev/uploads/DROELOE.json
data_dev/uploads/DubstepGutter.json
data_dev/uploads/Electronic Gems.json
data_dev/uploads/Ethan Bortnick.json
data_dev/uploads/Fire Dept. Coffee.json
data_dev/uploads/FlewDeep Music.json
data_dev/uploads/GameLinked.json
data_dev/uploads/Ganja White Night.json
data_dev/uploads/Gast.json
data_dev/uploads/girl_dm_.json
data_dev/uploads/Gnoma.json
data_dev/uploads/GReeeN.json
data_dev/uploads/Grind Hard Plumbing Co.json
data_dev/uploads/HeavyDSparks.json
data_dev/uploads/iamjakehill.json
data_dev/uploads/Ian Davis.json
data_dev/uploads/IDLEGLANCE.json
data_dev/uploads/ImKibitz.json
data_dev/uploads/Installation00.json
data_dev/uploads/IVOXYGEN.json
data_dev/uploads/Jack Rhysider.json
data_dev/uploads/Jeff Geerling.json
data_dev/uploads/JerryRigEverything.json
data_dev/uploads/Jim Browning.json
data_dev/uploads/kAN Gaming.json
data_dev/uploads/Kris Harbour Natural Building.json
data_dev/uploads/Linus Tech Tips.json
data_dev/uploads/Liquicity.json
data_dev/uploads/M1ST1K.json
data_dev/uploads/Marius Hornberger.json
data_dev/uploads/Mark Rober.json
data_dev/uploads/Matt's Off Road Recovery.json
data_dev/uploads/MHM.json
data_dev/uploads/Michael FK.json
data_dev/uploads/MOSFET.json
data_dev/uploads/MrMoMMusic.json
data_dev/uploads/MrSuicideSheep.json
data_dev/uploads/MtnFortressLabs.json
data_dev/uploads/Mustard.json
data_dev/uploads/Night Lovell.json
data_dev/uploads/Nightblue Music.json
data_dev/uploads/noriyaro.json
data_dev/uploads/OfficialPandaEyes.json
data_dev/uploads/OffTheRanch.json
data_dev/uploads/OperatorDrewski.json
data_dev/uploads/Paper Idol.json
data_dev/uploads/Pastelle - Topic.json
data_dev/uploads/Pretty Lights.json
data_dev/uploads/Ranzratte.json
data_dev/uploads/rctestflight.json
data_dev/uploads/Rich Rebuilds.json
data_dev/uploads/Rob Dahm.json
data_dev/uploads/RomanAtwoodPodcast.json
data_dev/uploads/Shlorox.json
data_dev/uploads/ShortCircuit.json
data_dev/uploads/skeler..json
data_dev/uploads/Sparks Motors.json
data_dev/uploads/Spirit Of GOD.json
data_dev/uploads/STORROR.json
data_dev/uploads/SuicideSheeep.json
data_dev/uploads/SuperfastMatt.json
data_dev/uploads/TechLinked.json
data_dev/uploads/Techquickie.json
data_dev/uploads/Teflon Sega.json
data_dev/uploads/That Works.json
data_dev/uploads/ThatGuyGlen.json
data_dev/uploads/The GΔmes We PlΔy.json
data_dev/uploads/The Prodigy.json
data_dev/uploads/TheFatRat.json
data_dev/uploads/ThioJoe.json
data_dev/uploads/Tom Scott.json
data_dev/uploads/Tranquility.json
data_dev/uploads/Trap Nation.json
data_dev/uploads/ＴＲＡＳＨ 新 ドラゴン.json
data_dev/uploads/U N D E R D O G S..json
data_dev/uploads/Untitled Burial.json
data_dev/uploads/Valiant.json
data_dev/uploads/Veritasium.json
data_dev/uploads/xKito Music.json
data_dev/uploads/Your Soul Music.json
