.body-style {
    background-color: rgb(70, 70, 70);
}

input {
    width: 50%;
}

select {
    width: 20%;
}

form {
    width: 100%;
}

.title {
    margin: 5px;
}

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgb(70, 70, 70);
    /* color: white;  */
    padding: 10px 0;
    /* text-align: center; */
    z-index: 1000; /* Ensures the navbar is on top of other content */
}

.content {
    background-color: rgb(70, 70, 70);
    margin: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.student {
    flex: 20%;
    padding: 10px;
    margin: 5px;
    color: #f3f3f3;
    inline-size: 100%;
}

.tag {
    flex: 20%;
    padding: 10px;
    margin: 5px;
    color: #f3f3f3;
    inline-size: 100%;
}

.channel {
    flex: 20%;
    padding: 10px;
    margin: 5px;
    color: #f3f3f3;
    inline-size: 100%;
}

.bio {
    padding: 10px;
    margin: 5px;
    background-color: #ffffff;
    color: #004835;
}

.name a {
    color: #00a36f;
    text-decoration: none;
}

nav a {
    color: #d64161;
    font-size: 3em;
    margin-left: 50px;
    text-decoration: none;
}

/*  Loader     */

#loading {
    width: 30px;
    height: 30px;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #9c41f2;
    border-radius: 100%;
    margin: 5px;
    visibility: hidden;
    animation: spin 1s infinite linear;
}

#loading.display {
    visibility: visible;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}