.channel-list-div {

    background-color: rgb(70, 70, 70);
    margin: 5px;
    width: 100%;
}

.channel-list {

    width: 90%;
}

.channel-list-entry {
    /* flex: 20%; */
    padding: 10px;
    margin-bottom: 20px;
    color: #f3f3f3;
    inline-size: 100%;
}

option:hover{
    opacity: 70%;
}

input:hover{
    opacity: 70%;
}

.profile-picture-box{
    float: left;
    top: 0%;
    
    height: 88px;
    width: 88px;
    /* border: 5px solid red; */
}

.profile-picture-box img {
    max-width: 100%;
    max-height: 100%;
    width: auto; /* Ensures the aspect ratio is maintained */
    height: auto; /* Ensures the aspect ratio is maintained */
    display: block; /* Ensures there are no extra spaces around the image */
}

.tag-list{
    height: 120px;
}

option:checked{
    /* opacity: 80%; */
    filter: brightness(50%);
}

option:hover{
    cursor: pointer;
}