.music-grid-container {
    background-color: rgb(70, 70, 70);
    display: grid;
    grid-template-columns: auto auto auto auto;

    width: calc(100%);
}

.music-grid-item {
    color: white;

    margin-right: 20px;
    margin-bottom: 24px;

    font-size: 16px;
    text-align: left;

    width: calc(100% - 20px);

    cursor: pointer;
}

.music-grid-item-highlight {
    color: red;
    background-color: gray;

}

.music-grid-item:hover {
    opacity: 80%;

    color: black;
    background-color: white;
}

.video-pic {
    width: 100%;
    height: calc(90% - 62px);
}

.video-title {
    font-size: 16px;
    line-height: 16px;

    height: 32px;
    width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
}

.video-title:hover {
    overflow: visible;
}

.video-channel {
    margin-top: 10px;

    line-height: 16px;

    height: 16px;
    width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;

}

.video-time {
    font-size: 14px;
    line-height: 14px;

    height: 14px;
    width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
}