{% extends 'tag_base.html' %}

{% block content %}
<h1 style="width: 100%">
    {% block title %} Edit {{ tag.name }}'s Details
    {% endblock %}
</h1>
<form method="post">
    <p>
        <label for="name">Name</label>
        <input type="text" name="name" value="{{ tag.name }}" placeholder="Tag name">
        </input>
    </p>

    <p>
        <label for="color">Color</label>
        <input type="color" name="color" value="{{ tag.color }}" >
        
    </p>

    <p>
        <button type="submit">Submit</button>
    </p>
</form>
{% endblock %}